
  .form {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .field {
    width: 350px;
    margin-bottom: 30px;
  }
  .button {
    display: block;
    margin: 0 auto;
    padding: 8px 12px;
    font-weight: normal;
    background-color: transparent;
    border: 2px solid lightblue;
    border-radius: 4px;
    cursor: pointer;
  } 