.login {
    min-width: 320px;
    max-width: 480px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rosybrown;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    overflow: hidden;
  }
  
  .title {
    margin-bottom: 15px;
  }
  
  .title:first-child {
    margin-top: 15px;
  }
  
  .form {
    margin-bottom: 15px;
  }
  
  .label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-weight: normal;
    border: 2px solid grey;
    border-radius: 4px;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #2196f3;
    cursor: pointer;
  }
  
  .button {
    display: block;
    margin: 0 auto;
    padding: 8px 12px;
    font-weight: normal;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
  }