
.contactsList {
  padding: 0;
  list-style: none;
}

.contactsItem {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 5px;
}

.itemName {
  margin-right: 5px;
  align-items: baseline;
  font-size: 18px;
}

.btnDelete {
  color: red;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
}
