.userMenuContainer {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.avatarImg {
    margin-right: 4px;
    margin-left: 4px;
}

.name {
  font-weight: bold;
  margin-right: 12px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 8px 12px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 4px;
  cursor: pointer;
}